@use 'sass:map';

// Colors
$black950: #000;
$black900: #010101;
$black800: #333;
$black700: #4d4d4d;
$black600: #666;
$black500: #999;
$black400: #bdbdbd;
$black300: #ccc;
$black200: #e6e6e6;
$black100: #f8f8f8;
$black50: #fff;
$green300: #1da49c;
$green200: #70bb67;
$green100: #9adfa0;
$green50: #e2f0ef;
$blue200: #193fff;
$blue100: #cbd3f9;
$blue50: #43a6d0;
$red100: #b52a00;
$red50: #f1e3df;
$orange: #fa896b;

// Fonts
$primary-font-family: 'Montserrat', sans-serif;

// Shadows
$box-shadow-paper: 0 4px 17px 0 rgb(0 0 0 / 10%);

// Transitions
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$animation-duration-slow: 450ms;
$animation-duration-normal: 225ms;
$animation-duration-fast: 150ms;

// Breakpoints and sizes
$breakpoints: (
  xs: 375px,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
);
$max-width: map.get($breakpoints, 'xl');
