@use '@/styles/settings/variables' as *;
@use '@/styles/utils/rem-calc' as *;

.container {
  font-variant-numeric: normal;

  thead {
    background-color: $black100;

    th {
      border-bottom: none;

      &:first-child {
        border-radius: rem-calc(10 0 0 10);
      }

      &:last-child {
        border-radius: rem-calc(0 10 10 0);
      }
    }
  }

  tbody {
    tr {
      &.clickable {
        cursor: pointer;

        &:hover {
          background-color: $green50;
        }

        &:active {
          background-color: $green100;
        }
      }
    }

    td {
      border-bottom: none;
      padding: rem-calc(8 16);
    }

    .root {
      &.tableCell {
        padding: rem-calc(8 0);
      }
    }
  }
}
