@use '@/styles/settings/variables' as *;
@use '@/styles/utils/rem-calc' as *;
@use '@/styles/mixins/breakpoints' as *;

.container {
  width: rem-calc(360);
  border-right: rem-calc(1) solid $black400;
  background-color: $black50;
  z-index: 1300;

  @include media(0, 'md') {
    display: none;
  }
}
