@use '@/styles/settings/variables' as *;
@use '@/styles/utils/rem-calc' as *;
@use '@/styles/mixins/breakpoints' as *;

.root {
  &.container {
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;

    .toolbar {
      justify-content: space-between;

      @include media('md') {
        .menuButton {
          display: none;
        }
      }
    }

    .adminToolbar {
      @include media('md') {
        justify-content: flex-end;
      }
    }
  }

  &.drawer {
    @include media('md') {
      display: none;
    }

    .paper {
      width: 100%;
    }
  }

  &.colored {
    background-color: $black50;
    border-bottom: rem-calc(1) solid $black400;
  }

  &.adminContainer {
    background-color: $black50;
    border-bottom: rem-calc(1) solid $black400;
  }
}
