@use '@/styles/settings/variables' as *;
@use '@/styles/utils/rem-calc' as *;
@use '@/styles/mixins/breakpoints' as *;

.container {
  display: flex;
  min-height: 100vh;

  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.adminContainer {
  .main {
    overflow-y: scroll;
    max-height: 100vh;
    padding-bottom: rem-calc(24);

    @include media(0, 'md') {
      padding-bottom: rem-calc(16);
    }
  }
}
