@use '@/styles/utils/rem-calc' as *;
@use '@/styles/settings/variables' as *;

.root {
  &.container {
    padding: rem-calc(0);

    .link {
      width: 100%;
      text-decoration: none;
    }

    .item {
      flex-direction: row;
      width: auto;
      align-items: center;
      gap: rem-calc(8);
      padding: rem-calc(16 8);
      transition: all $animation-duration-normal $timing-function;
      color: $black950;

      .iconWrapper {
        display: flex;
        justify-content: center;
        color: $black950;
      }

      .listText {
        flex: initial;
      }

      &.active {
        background-color: $green100;
      }
    }
  }
}
